<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <location path="" overrideMode="Deny">
        <appSettings />
    </location>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.php" />
                <add value="index.html" />
                <add value="index.htm" />
            </files>
        </defaultDocument>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="/style/500.htm" responseMode="ExecuteURL" />
            <error statusCode="404" prefixLanguageFilePath="" path="/style/400.htm" responseMode="ExecuteURL" />
        </httpErrors>
    </system.webServer>
</configuration>
