<style><!--

BODY {scrollbar-3dlight-color:#ffffff;
           scrollbar-arrow-color:#ffffff;
           scrollbar-base-color:;
           scrollbar-track-color:#ffffff;
           scrollbar-darkshadow-color:;
           scrollbar-face-color:#000080;
           scrollbar-highlight-color:;
           scrollbar-shadow-color:}



a{text-decoration:none;}
a:hover{text-transform:uppercase;  background-color:;}

//-->
</style>

