A       { text-decoration: none}

A:hover { text-decoration: underline;
          color: red;
	  focus: big; 			
          background-color: #aaaaaa }

LI EM   { color: red;
          font-weight: bold}

UL      { margin-left: 2cm }

UL UL   { text-decoration: underline;
          margin-left: .5cm }
