
 h1 {
}

 h2, h3, h4, h5, h6 {
	color: #2582A4;
}

 p, ol, ul {
	text-align: justify;
}

 strong {
	font-weight: bold;
	color: #808080;
}

a {
	color: #87A019;
}
a:hover {
	text-decoration: none;
	color: #2582A4;
}

.box {
	margin-bottom: 0;
	padding-bottom: 0;
	background: url(images/img07.gif) repeat-x left bottom;
}

.bottom {
	display: block;
	margin-bottom: 0;
	padding-bottom: 10px;
	background: url(images/img08.gif) no-repeat left bottom;
}

/* Content */

#content {
	margin: 0 auto;
}

#colOne {
	float: left;
	
}

#colOne h3 {
	padding: 0 20px;
}

#colOne ul {
	margin-left: 0;
	padding-left: 20px;
	padding-right: 20px;
	list-style: none;
}

#colOne li {
	padding: 5px 0;
	border-top: 1px solid #EFEFEF;
}

#colOne li.first {
	border: none;
}

#colTwo {
	float: right;
	width: 617px;
	padding: 30px 40px 0 30px;
	background: url(images/img09.gif) repeat-x;
}

#colTwo h2 {
	margin-top: 0;
	font-size: 26px;
}

#colTwo h3 {
	margin-bottom: 0;
	font-size: 18px;
}

#colTwo h4 {
	margin-top: 0;
	font-size: 11px;
	font-weight: normal;
}

#colTwo .box {
	margin: 0 -30px 30px -20px;
	padding: 0 30px 0 20px;
}

#colTwo .bottom {
	margin: 0 0 20px -20px;
	padding: 0 0 20px 20px;
}
#colOne
{
width:250px;
}
#colTwo{
width:400px;
float:left;
}
